.header {
    background-color: #000;
    font-size: 18px;
    padding: 25px 0px;
    position: relative;
}

.header__row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__btn {
    padding: 10px 15px;
    font-size: 16px;
    background-color: transparent;
    color: gold;
    border: 2px solid goldenrod;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
    display: none;
}

.header__btn.visible {
    display: block;
}

.header__btn:hover {
    background-color: gray;
    border: 2px solid gray;
}

@media (max-width: 767px){
    .header__row {
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(120%, 0);
        width: 100%;
        height: 100%;
        transition: all 0.8s ease 0s;
        background-color: #fdf6f6;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        padding: 0px 0px 40px 0px;
        overflow-y: auto;
    }

    .header__row.active {
        transform: translate(0, 0%);
    }

    .burger__icon {
        display: block;
        position: absolute;
        top: 16px;
        right: 18px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
    }
    
    .burger__icon span {
        transition: all 0.3s ease 0s;
        top: 8px;
        left: 0px;
        position: absolute;
        width: 100%;
        height: 1.6px;
        background-color: #fff;
    }
    
    .burger__icon span:first-child {
        top: 0px;
    }
    
    .burger__icon span:last-child {
        top: auto;
        bottom: 0px;
    }
    
    .burger__icon.active span {
        transform: scale(0);
        background-color: #000;
    }
    
    .burger__icon.active span:first-child {
        transform: rotate(-45deg);
        top: 8px;
    }
    
    .burger__icon.active span:last-child {
        transform: rotate(45deg);
        bottom: 8px;
    }
}