.navigation__list {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0px 15px 0px 0px;
}

.navigation__list > li:not(:last-child) {
    margin: 0px 10px 0px 0px;
}

.navigation__link {
    display: block;
    color: white;
    transition: all 0.3s ease 0s;
}

.navigation__link:hover {
    color: rgb(246, 199, 112);
}

.navigation__link.active {
    color: rgb(228, 150, 7);
}